{% extends "base/base.html" %}
<!-- MainBody -->
{% block mainbody %}

	<!-- Banner -->
		<section id="banner">
			<div class="content">
				<header>
					<h1>嗨，这里是OcanGo的工作站</h1>
					<p>一个丰富且高效的分享平台</p>
				</header>
				<p>{{now_time}}</p>
				<p>世界用寂静无声，催促我们长大，故事最后总是指向各奔天涯，年轻的心最后还是有了白发。这里是OcanGo的工作站。站内有故事，有吐槽，站内还有迷茫、不甘的灵魂，有果敢、莽撞的愣头青。OcanGo将会在站内挥毫技术，敢问英雄论道否！</p>
				<div class="hiding">
					<p>OcanGo工作站主要的技术方向为：Python Web、数据流分析与处理、C# Web + Winform（.net）、ETL、AWS、Linux，自研首要技术方向为ETL。本网站基于Flask Web开发，原模板为纯HTML5模板，服务器环境基于centos+nginx+uwsgi，服务器是腾讯云云服务器，DNS商以及SSL证书商为CloudFlare。集群环境基于Zookeeper，集群都属于云端服务器。</p>
				</div>
				<ul class="actions">
					<li><a class="button big" href="javascript:void(0)" onclick="showText(this)">继续阅读</a></li>
				</ul>
			</div>
			<span class="image object">
				<img src="{{ url_for('static', filename='images/pic10.jpg') }}" alt="脸就是要大" />
			</span>
		</section>

	<!-- Section -->
		<section>
			<header class="major">
				<h2>功能展示</h2>
			</header>
			<div class="features">
				{% for project in projects %}
				<article id="{{project.article_id}}" onclick="blink_to_acticle(this,'article')" class='clickable' title="{{project.name}}">
					<span class="icon {{ project.icon }}"></span>
					<div class="content">
						<h3>{{project.name}}</h3>
						<p>{{project.introduce}}</p>
					</div>
				</article>
				{% endfor%}
				
				<article>
					<span class="icon fa-ellipsis-h"></span>
					<div class="content">
						<h3>待续</h3>
						<p>更多的内容正在规整中，可以先去GITHUB或者简书平台看看哦！</p>
					</div>
				</article>

			</div>
		</section>

	<!-- Section -->
		<section>
			<header class="major">
				<h2>底层剖析</h2>
			</header>
			<div class="posts">
				{% for article in articles %}
				<article title="{{article.topic}}">
					<a href="{{ url_for('articles',topic=article.id) }}" class="image"><img src="{{ url_for('static', filename=article.picture_url) }}" alt="" /></a>

					
					<h3>{{article.topic}}</h3>
					<p>{{article.introduce}}</p>
					<ul class="actions">
						<li>
							<a href="{{url_for('articles',topic=article.id)}}" class="button">更多</a></li>

					</ul>
				</article>
				{% endfor %}
			</div>
		</section>

{% endblock %}

<!-- SidebarBody -->
{% block sidebarbody %}

	<!-- Section -->
		<!-- <section>
			<header class="major">
				<h2>Ante interdum</h2>
			</header>
			<div class="mini-posts">
				<article>
					<a href="#" class="image"><img src="{{ url_for('static', filename='images/pic07.jpg') }}" alt="" /></a>
					<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
				</article>
			</div>
			<ul class="actions">
				<li><a href="#" class="button">More</a></li>
			</ul>
		</section> -->

{% endblock %}